<div class="span3 topic_border">
  <a href="#" class="thumbnail">
    <img src="<%= proxy(topic.pic) %>" style="height: 180px; width: 100%; display: block;" alt="" title="<%= topic.title %>">
  </a>
  <div class="caption">
    <h3>
      <a class='topic_title' href='/topic/<%= topic._id %>' title='<%= topic.title %>'>
        <span style="float:left"><%= topic.title %></span>
        <div class="span8 reply_score_small" >
            <div class="progress">
              <span class="scorepic"></span>
              <div class="bar bar-color" style="width:<%= topic.score*20 %>%"></div>
            </div>
        </div>
        <p style="clear:both;margin:0;padding:5px 0 0"><%= topic.reply_count %>点评&nbsp&nbsp<%= topic.visit_count %>浏览</p>
      </a>
    </h3>
  </div>  
</div>
<!--<div class='cell topic_item'>

  <a class="user_avatar bs_pic" href="">
    <img src="<%= proxy(topic.pic) %>"
         title="<%= topic.title %>"
            />
  </a>


  <div class="bs_name">
    <a class='topic_title' href='/topic/<%= topic._id %>' title='<%= topic.title %>'>
      <%= topic.title %>
    </a>
  </div>
</div>-->
